body {
    background-color: #2b2b2b;
    width: 308px;
    height: 168px;
    overflow: hidden;
}
p {
    margin-bottom: 0px;
}
.info {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 0px;
}
#monnes-mening {
    font-size: 1em;
    margin-top: 10px;
}
.title {
    font-size: 1.8em;
}
.leftcol {
    border-right: white 1px solid;
    padding-right: 10px;
    flex: 0 0 120px;
    padding-left: 0px;
}